<ng-content select=".header1"></ng-content>
<ng-content element></ng-content>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of productDtl">
            <th>{{ prod.prodID }}</th>
            <th>{{ prod.prodName }}</th>
            <th>{{ prod.qty }}</th>
        </tr>
    </tbody>
</table>
<ng-content select="p"></ng-content>
<ng-content select="#footer1"></ng-content>