<div class="container">
    <form [formGroup]="list" (ngSubmit)="SaveForm()">
        <div class="row">
            <div class="col-md-6">
                Add List Detials
            </div>
            <div class="col-md-6">
                <button type="button" routerLink="/reactiveform" class="btn btn-primary m-1 float-end m-1">Back to
                    List</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="id">ID</label>
                <input type="text" name="id" id="id" class="form-control" autocomplete="off" formControlName="rId">

            </div>
            <div class="col-md-6">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" autocomplete="off" formControlName="rName"
                    [ngClass]="{ 'is-invalid': submitted && f.rName.errors }">
                <div *ngIf="submitted && f.rName.errors" class="invalid-feedback">
                    <div *ngIf="f.rName.errors?.required">Name is required</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="type">Type</label>
                <input type="text" name="id" id="type" class="form-control" autocomplete="off" formControlName="rType"
                    [ngClass]="{ 'is-invalid': submitted && getrType.errors }">
                <div class="invalid-feedback" *ngIf="getrType.errors?.required">
                    <div *ngIf="getrType.errors?.required">Type is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success m-1 mt-3">Submit</button>
                <button type="button" class="btn btn-primary mt-3" (click)="ClearForm()">Clear</button>
                <button type="button" class="btn btn-info m-1 mt-3" (click)="SetValues()">Set Default Values</button>
                <button type="button" class="btn btn-info m-1 mt-3" (click)="PatchValues()">Patch Default Values</button>
            </div>
        </div>
    </form>
</div>