<button type="button" class="btn btn-primary m-2 float-end" routerLink="/employeeadd">
  Add Employee
</button>

<table class="table table-bordered table-striped mt-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>IsActive</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of objEmployees">
            <th>{{ employee.empID }}</th>
            <th>{{ employee.empFName }}</th>
            <th>{{ employee.empLName }}</th>
            <th>{{ employee.gender | gender }}</th>
            <th>{{ employee.salary | currency : 'INR' }}</th>
            <th>{{ employee.isActive | booleanValue }}</th>
            <th>
                <button (click)="ViewEmployee(employee.empID)" class="btn btn-info m-1">View(Function)</button>
                <button class="btn btn-success m-2" [routerLink]="[employee.empID,'edit']">View(RouterLink)</button>
                <button class="btn btn-success m-2" [routerLink]="['/employeeedit',employee.empID]">View1(RouterLink)</button>
                <button class="btn btn-primary" routerLink="/employeeadd" [queryParams]="{id: employee.empID}">View(QueryString)</button>
            </th>
        </tr>
    </tbody>
</table>